/* Zero */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
}

span {
  color: #6d6d6d;
}

/*  Variebles  */

/*  Containers  */

.container-large {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  width: 100%;
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 15px;
}

/*  Burger  */

.burger {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  display: none;
  padding: 15px 2px;
  background: none;
}

.burger__item {
  display: block;
  font-size: 0;
  width: 28px;
  height: 3px;
  background-color: #273551;
  position: relative;
  bottom: 3px;
}

.burger__item::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #273551;
  position: absolute;
  top: 8px;
  right: 0;
}

/*  Mobile-menu  */

.mobile-menu {
  background-color: #00ecd0;
  border-radius: 20px 0 0 20px;
  position: fixed;
  top: 0;
  right: -200px;
  text-align: center;
  width: 200px;
  padding: 30px 0;
  -webkit-transition: right 0.5s linear;
  -o-transition: right 0.5s linear;
  transition: right 0.5s linear;
}

.mobile-menu__close {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.mobile-menu li {
  color: #18216D;
  margin-bottom: 20px;
}

/*  Btn-main  */

.btn-main {
  padding: 16px 28px;
  background-color: #005FEC;
  color: #fff;
  border-radius: 6px;
  font-size: 17px;
  line-height: 1.2;
}

/*  Header  */

.header {
  padding: 35px 0;
  background-color: #F3F5FF;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*  Nav  */

.nav {
  color: #18216D;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav__link {
  padding-bottom: 5px;
  color: #18216D;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 500;
  -webkit-transition: border-bottom 0.1s;
  -o-transition: border-bottom 0.1s;
  transition: border-bottom 0.1s;
}

.nav__link:hover {
  border-bottom: 3px solid #18216D;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__buttons {
  color: #18216D;
}

.nav__btn {
  margin-left: 50px;
  padding: 16px 27px;
  background-color: #18216D;
  color: #fff;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.nav__btn:hover {
  background-color: #00ECD0;
}

/*  Intro  */

.intro {
  background-color: #F3F5FF;
  padding-top: 50px;
  padding-bottom: 80px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__text {
  color: #18216D;
  max-width: 520px;
}

.intro__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
}

.intro__subtitle {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 34px;
  max-width: 484px;
}

.intro__button {
  padding: 23px 37px;
  background-color: #00ECD0;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
}

/*  Companys  */

.companys__inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.companys__text {
  color: #18216D;
  max-width: 505px;
}

.companys__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
}

.companys__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #18216D;
  margin-right: 60px;
}

.companys__downloads {
  margin-right: 90px;
}

.companys__download {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 10px;
}

.companys__hearts {
  margin-left: 5px;
  margin-bottom: 10px;
}

.companys__text {
  font-size: 16px;
  line-height: 1.6;
}

.companys__stars {
  margin-bottom: 10px;
}

.companys__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*  Features  */

.features {
  margin: 130px 0;
  color: #18216D;
}

.features__head {
  text-align: center;
}

.features__heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
}

.features__about {
  max-width: 542px;
  font-size: 16px;
  line-height: 1.9;
  margin: 0 auto;
  margin-bottom: 48px;
}

.features__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  width: 33.33333%;
}

.features__title {
  margin-top: 30px;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
}

.features__text {
  max-width: 320px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.features__link {
  font-size: 20px;
  font-weight: 500;
  -webkit-transition: border-bottom 0.1s;
  -o-transition: border-bottom 0.1s;
  transition: border-bottom 0.1s;
}

.features__link:hover {
  border-bottom: 3px solid #18216D;
}

/*  Integrate  */

.integrate {
  padding: 78px 0;
  background-color: #F3F5FF;
  color: #18216D;
}

.integrate__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integrate__text {
  max-width: 487px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.integrate__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

/*  Comunicate  */

.comunication {
  margin-top: 130px;
  margin-bottom: 150px;
}

.comunication__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comunication__about {
  color: #18216D;
}

.comunication__image {
  position: relative;
}

.comunication__weekly {
  position: absolute;
  bottom: -90px;
  right: -90px;
}

.comunication__dots {
  position: absolute;
  left: -75px;
  bottom: -38px;
  z-index: -1;
}

.comunication__title {
  max-width: 520px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.32;
  margin-bottom: 16px;
}

.comunication__text {
  max-width: 446px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.comunication__item {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comunication__item:last-child {
  margin-bottom: 50px;
}

.comunication__benefit {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 500;
}

/*  Pricing  */

.pricing {
  margin-bottom: 130px;
  color: #18216D;
}

.pricing__head {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
}

.pricing__heading {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
}

.pricing__about {
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 48px;
}

.pricing__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 272px;
  padding: 6px;
  background-color: #E6EFFE;
  border-radius: 6px;
}

.pricing__switch-active {
  padding: 16px 32px;
  font-size: 17px;
  font-weight: 500;
  color: #005FEC;
  background-color: #fff;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.pricing__switch {
  padding: 16px 32px;
  font-size: 17px;
  font-weight: 500;
  color: #18216D;
  background-color: inherit;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.pricing__inner {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing__plan {
  border: 1px solid #D4D5D5;
  border-radius: 6px;
  width: 355px;
  padding-bottom: 60px;
}

.pricing__top {
  padding-top: 22px;
  padding-bottom: 41px;
  border-bottom: 1px solid #D4D5D5;
}

.pricing__title {
  padding-left: 41px;
  font-size: 24px;
  font-weight: 600;
  line-height: 2;
}

.pricing__price {
  padding-left: 41px;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.35;
}

.pricing__conditions {
  list-style: none;
  padding-top: 22px;
  padding-left: 41px;
  margin-bottom: 40px;
}

.pricing__condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  font-size: 17px;
}

.pricing__condition--blocked {
  opacity: 0.5;
}

.pricing__mark {
  margin-right: 12px;
}

.pricing__btn {
  margin-left: 41px;
  padding: 16px 36px;
  font-size: 16px;
  color: #18216D;
  background-color: #e6effe;
  border-radius: 6px;
  -webkit-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.pricing__btn:hover {
  background-color: #005FEC;
  color: #fff;
}

/*  Testimonials  */

.testimonials {
  color: #18216D;
  background-color: #F3F5FF;
  padding: 100px 0;
}

.testimonials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__text {
  max-width: 616px;
}

.testimonials__title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 55px;
}

.testimonials__reviews {
  font-style: italic;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.82;
  margin-bottom: 33px;
}

.testimonials__person {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 6px;
}

.testimonials__position {
  font-size: 16px;
  opacity: 0.6;
}

/*  Footer  */

.footer {
  color: #18216D;
  margin-top: 120px;
  margin-bottom: 60px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__familiar {
  max-width: 248px;
}

.footer__item {
  max-width: 117px;
}

.footer__item:last-child {
  max-width: 300px;
}

.footer__text {
  font-size: 16px;
  line-height: 1.65;
  margin: 20px 0;
}

.footer__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 31px;
}

.footer__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  -webkit-transition: border-bottom 0.1s;
  -o-transition: border-bottom 0.1s;
  transition: border-bottom 0.1s;
}

.footer__link:hover {
  border-bottom: 3px solid #18216D;
}

/*  Copyright  */

.copyright {
  padding: 30px 0;
  border-top: 1px solid #D4D5D5;
  text-align: center;
  color: #18216D;
}

.copyright__text {
  font-size: 16px;
}

/*  Media  */

@media (max-width: 1221px) {
  /*  Integrate  */

  .integrate__text {
    text-align: center;
  }
}

@media (max-width: 1171px) {
  /*  Intro  */

  .intro {
    padding-top: 30px;
  }

  .intro__text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .intro__subtitle {
    max-width: 100%;
  }

  .intro__image {
    margin: 20px auto;
  }

  /*  Pricing */

  .pricing__plan {
    width: 300px;
  }

  /*  Comunication  */

  .comunication {
    text-align: center;
  }

  .comunication__image {
    display: none;
  }

  .comunication__text {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .comunication__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .comunication__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .comunication__item:last-child {
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  /*  header  */

  .header {
    padding: 20px 0;
  }

  /*  nav  */

  .nav {
    display: none;
  }

  .nav__buttons {
    display: none;
  }

  /*  Burger  */

  .burger {
    display: block;
  }

  /*  companys  */

  .companys__text {
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }

  .companys__statistics {
    margin: 0 auto;
  }

  .companys__fedex {
    display: none;
  }

  /*  features  */

  .features {
    margin: 80px 0;
  }

  .features__heading {
    font-size: 40px;
  }

  .features__item {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }

  .features__title {
    font-size: 22px;
  }

  .features__text {
    margin: 0 auto;
    margin-bottom: 14px;
    font-size: 14px;
  }

  .features__link {
    font-size: 18px;
  }

  /*  Comunication  */

  .comunication {
    margin: 80px 0;
  }

  /*  Pricing */

  .pricing__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }

  .pricing__plan {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 400px;
  }

  /*  Footer */

  .footer {
    margin-top: 80px;
  }

  .footer__familiar {
    max-width: inherit;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer__text {
    max-width: 300px;
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  /*  Intro  */

  .intro {
    padding-bottom: 30px;
  }

  .intro__title {
    font-size: 40px;
  }

  .intro__button {
    padding: 20px 30px;
  }

  .intro__img {
    width: 507px;
    height: auto;
  }

  /*  companys  */

  .companys__title {
    font-size: 34px;
  }

  .companys__download {
    font-size: 50px;
  }

  .companys__walmart {
    display: none;
  }

  .companys__img {
    width: 100px;
    height: auto;
  }

  /*  Integrate  */

  .integrate {
    padding: 50px 0;
  }

  .integrate__title {
    font-size: 32px;
  }

  .integrate__img {
    width: 500px;
    height: auto;
  }

  /*  Comunication  */

  .comunication__title {
    font-size: 32px;
  }

  /*  Pricing */

  .pricing__heading {
    font-size: 40px;
  }

  .pricing__about {
    margin-bottom: 30px;
  }

  /*  Testimonials */

  .testimonials {
    padding: 50px 0;
  }

  .testimonials__title {
    font-size: 40px;
  }

  .testimonials__reviews {
    font-size: 22px;
  }

  .testimonials__person {
    font-size: 24px;
  }

  /*  Footer */

  .footer {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .footer__item {
    text-align: center;
    max-width: inherit;
    width: 50%;
    margin-bottom: 15px;
  }

  .footer__title {
    margin-bottom: 10px;
  }

  .footer__item:last-child {
    max-width: inherit;
  }
}

@media (max-width: 580px) {
  /*  Intro  */

  .intro__title {
    font-size: 36px;
  }

  .intro__button {
    padding: 18px 25px;
  }

  .intro__img {
    width: 407px;
    height: auto;
  }

  /*  companys  */

  .companys__inner {
    padding: 20px 0;
  }

  .companys__title {
    font-size: 30px;
  }

  .companys__download {
    font-size: 45px;
  }

  .companys__img {
    width: 80px;
    height: auto;
  }

  /*  features  */

  .features {
    margin: 50px 0;
  }

  .features__heading {
    font-size: 36px;
  }

  .features__item {
    margin-bottom: 30px;
  }

  .features__about {
    max-width: 400px;
  }

  .features__img {
    width: 48px;
    height: auto;
  }

  /*  Integrate  */

  .integrate {
    padding: 30px 0;
  }

  .integrate__title {
    font-size: 30px;
  }

  .integrate__img {
    width: 350px;
    height: auto;
  }

  /*  Comunication  */

  .comunication__title {
    font-size: 30px;
  }

  /*  Pricing */

  .pricing {
    margin-bottom: 50px;
  }

  .pricing__heading {
    font-size: 36px;
  }

  .pricing__about {
    margin-bottom: 30px;
  }

  /*  Testimonials */

  .testimonials {
    padding: 50px 0;
  }

  .testimonials__title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .testimonials__reviews {
    font-size: 20px;
  }

  .testimonials__person {
    font-size: 22px;
  }

  /*  Footer */

  .footer__title {
    font-size: 20px;
  }

  .footer__link {
    font-size: 16px;
    line-height: 1.8;
  }

  .footer__text--contact {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  /*  Intro  */

  .intro__title {
    font-size: 30px;
  }

  .intro__subtitle {
    font-size: 14px;
    margin-bottom: 16px;
  }

  .intro__button {
    font-size: 14px;
    padding: 16px 23px;
  }

  .intro__img {
    width: 307px;
    height: auto;
  }

  /*  companys  */

  .companys__title {
    font-size: 24px;
  }

  .companys__text {
    font-size: 14px;
  }

  .companys__downloads {
    margin-right: 50px;
    text-align: center;
  }

  .companys__rating {
    text-align: center;
  }

  .companys__download {
    font-size: 35px;
  }

  .companys__img {
    width: 60px;
    height: auto;
  }

  .companys__heart {
    width: 12px;
    height: auto;
  }

  .companys__star {
    width: 12px;
    height: auto;
  }

  /*  features  */

  .features__heading {
    font-size: 30px;
  }

  .features__about {
    font-size: 14px;
    max-width: 335px;
  }

  /*  Integrate  */

  .integrate__title {
    font-size: 28px;
  }

  .integrate__text {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .integrate__img {
    display: none;
  }

  .btn-main {
    font-size: 15px;
    padding: 14px 24px;
  }

  .comunication {
    margin: 30px 0;
  }

  .comunication__title {
    font-size: 28px;
  }

  .comunication__text {
    font-size: 14px;
  }

  .comunication__benefit {
    font-size: 16px;
  }

  /*  Pricing  */

  .pricing {
    margin-top: 50px;
  }

  .pricing__heading {
    font-size: 30px;
  }

  .pricing__about {
    font-size: 14px;
  }

  .pricing__plan {
    width: 300px;
  }

  .pricing__condition {
    font-size: 15px;
  }

  .pricing__buttons {
    max-width: 252px;
  }

  .pricing__switch {
    padding: 14px 26px;
    font-size: 15px;
  }

  .pricing__btn {
    padding: 14px 26px;
    font-size: 14px;
  }

  /*  Testimonials */

  .testimonials {
    padding: 30px 0;
  }

  .testimonials__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .testimonials__reviews {
    font-size: 18px;
  }

  .testimonials__person {
    font-size: 20px;
  }

  /*  Footer */

  .footer__title {
    font-size: 18px;
  }

  .footer__item {
    width: 100%;
  }
}

@media (max-width: 360px) {
  /*  Intro  */

  .intro__title {
    font-size: 28px;
  }

  .intro__button {
    padding: 12px 17px;
  }

  .intro__img {
    width: 307px;
    height: auto;
  }

  /*  companys  */

  .companys__title {
    font-size: 20px;
  }

  .companys__downloads {
    margin-right: 30px;
  }

  .companys__download {
    font-size: 25px;
  }

  .companys__heart {
    width: 9px;
    height: auto;
  }

  .companys__star {
    width: 9px;
    height: auto;
  }

  /*  features  */

  .features__heading {
    font-size: 26px;
  }

  /*  Integrate  */

  .integrate__title {
    font-size: 26px;
  }

  /*  Pricing  */

  .pricing__plan {
    width: 280px;
  }

  /*  Testimonials */

  .testimonials {
    padding: 30px 0;
  }

  .testimonials__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .testimonials__reviews {
    font-size: 16px;
  }

  .testimonials__person {
    font-size: 28px;
  }
}